@import url('https://fonts.googleapis.com/css2? family= Lato:wght@100 & display=swap');


.cards {
  width: 950px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  background: #DEDEDE;;
}

.home {
  background:#DEDEDE;
  padding-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.verDiv{
  display: flex;
}
